:root {
  --waikawa-gray-50: #eef1f7;
  --waikawa-gray-100: #d8ddec;
  --waikawa-gray-200: #b5c0dc;
  --waikawa-gray-300: #96a7ce;
  --waikawa-gray-400: #7890c0;
  --waikawa-gray-500: #647aa6;
  --waikawa-gray-600: #55688f;
  --waikawa-gray-700: #425170;
  --waikawa-gray-800: #2c384e;
  --waikawa-gray-900: #171e2c;
  --waikawa-gray-950: #0c111b;
}
